
<!DOCTYPE html>
<html layout:decorate="~{layout/layoutAdmin.html}">
<head>
<meta charset="utf-8">
<title>Cài đặt cấu hình</title>
<script th:src="@{/js/subject.js}"></script>
</head>
<body>
	<div class="wrapper wrapper__custom-height wrapper-block"
		layout:fragment="content">
		<div class="container__page-fullWidth">
			<div class="name__page">
				<h4 class="name__page-tilte">Cài đặt cấu hình</h4>
			</div>
			<div class="container__page-content">
				<form action="/xuat-du-lieu/xuat-bao-cao" class="form" method="post"
					id="importMedicalRecord">
					<div class="row">

						<div class="col l-12 m-12 c-12">
	                           <div class="form-group form__import-item">
	                               <label class="form__import-label"> Chọn môn học </label>
	                               <div class="input-container">
		                               <select class="form__import-select"  id="subjectId">
		                               		<!-- <option value="1"> Nam </option>
		                               		<option value="0"> Nữ </option> -->
		                               </select>
		                               <span class="error-message"></span>
	                               </div>
	                           </div>
	                       </div>
						<div class="col l-4 m-6 c-12">
	                       		<div class="form-group">
		                       		<div class=" form__import-item">
		                               <label class="form__import-label">Tỷ lệ điểm chuyên cần(<span>*</span>)</label>
		                               <div class="input-container">
			                               <input class="form__import-select" rules="required|name|min:6" name="fullName" />
			                               <span class="error-message"></span>
		                               </div>
		                           </div>
	                           </div>
	                       </div>
	                       <div class="col l-4 m-6 c-12">
	                       		<div class="form-group">
		                       		<div class=" form__import-item">
		                               <label class="form__import-label"> Tỷ lệ điểm kiểm tra(<span>*</span>)</label>
		                               <div class="input-container">
			                               <input class="form__import-select" rules="required|name|min:6" name="fullName" />
			                               <span class="error-message"></span>
		                               </div>
		                           </div>
	                           </div>
	                       </div>
	                       <div class="col l-4 m-6 c-12">
	                       		<div class="form-group">
		                       		<div class=" form__import-item">
		                               <label class="form__import-label"> Tỷ lệ điểm thực hành(<span>*</span>)</label>
		                               <div class="input-container">
			                               <input class="form__import-select" rules="required|name|min:6" name="fullName" />
			                               <span class="error-message"></span>
		                               </div>
		                           </div>
	                           </div>
	                       </div>
	                       <div class="col l-4 m-6 c-12">
	                       		<div class="form-group">
		                       		<div class=" form__import-item">
		                               <label class="form__import-label"> Tỷ lệ điểm cuối kỳ(<span>*</span>)</label>
		                               <div class="input-container">
			                               <input class="form__import-select" rules="required|name|min:6" name="fullName" />
			                               <span class="error-message"></span>
		                               </div>
		                           </div>
	                           </div>
	                       </div>
					</div>
					<div class="btn-container">
						<button class="btn btn-primary btn__save btn-submit">
							Xuất</button>

					</div>
				</form>
			</div>
		</div>


	</div>
</body>
</html>