<!DOCTYPE html>
<html layout:decorate="~{layout/layoutAdmin.html}">
<head>
	<meta charset="utf-8">
	<title>Quản lý người dùng</title>
</head>
<body>
	<div class="container-content" layout:fragment="content">
	    <div class="module_name">
	        <h6 class="module_name-tilte">
	            Quản lý người dùng
	        </h6>
	    </div>
	    <div class="row">
	        <div class="col l-6">
	            <div class="container-content__view">
	                <ul class="module_sub-list">
	                    <li class="module__sub-item">
	                        <a href="/nguoi-dung/them-nguoi-dung" class="module_sub-list-link">
	                            <span> Thêm người dùng </span>
	                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
	                        </a>
	                    </li>
	                    <li class="module__sub-item">
	                        <a href="/nguoi-dung/tim-kiem" class="module_sub-list-link">
	                            <span> Tìm kiếm người dùng </span>
	                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
	                        </a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>

</body>
</html>